   <div class="container">
    <div class="row">
     <!--    <div class="col-xs-4 col-xs-offset-4"> -->
       <form action="#">

        <div class="col-xs-3">
          <div class="form-group">
           <!--      <label for="your-name">Name</label> -->
           <input type="text" class="form-control" id="your-name" placeholder="Where?">
         </div>
       </div>

       <div class="col-xs-3">
        <div class="form-group">
          <!--       <label for="your-last-name">Last Name</label> -->
          <input type="date" class="form-control" id="your-last-name" placeholder="When?">
        </div>
      </div>


      <div class="col-xs-5">
        <div class="form-group">
          <!--         <label for="refferer">How many people you want register for Le Wagon Bootcamp?</label> -->
          <!--  <input type="refferer" class="form-control" id="refferer" placeholder="refferer"> -->
          <select id="refferer" class="form-control">
            <option value> Just myself </option>
            <option value> Myself + 1 Friend </option>
            <option value> Myself + 2 Friends  </option>
          </select>
        </div>
      </div>

      <div class="col-xs-1">
        <div class="form-group">
          <a class="btn btn-primary btn-lg">Start now</a>
        </div>
      </div>

    </form>
    <!--  </div> -->
  </div>
</div>
