// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


// custom
$dark-red: #D23333;
$spotify-green: #00CD6B;
$light-black: #252323;
$dark-grey: #70798C;
$custom-blue: 49C6E5;


